# Generate a Unique Secret Key
# openssl rand -hex 32
AUTH_SECRET_KEY=

# Create credentials from following URL:
# https://console.cloud.google.com/apis/credentials
# Google Login Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Create credentials from following URL:
# https://github.com/settings/applications/3291001
# GitHub Login Credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Create credentials from following URL:
# https://discord.com/developers/applications
# Discord Login Credentials
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Create credentials from following URL:
# https://vercel.com/oauth/authorize
# Vercel Login Credentials
VERCEL_CLIENT_ID=
VERCEL_CLIENT_SECRET=

# Create credentials from following URL:
# https://developer.twitter.com/en/portal/projects-and-apps
# X Login Credentials
X_CLIENT_ID=
X_CLIENT_SECRET=