name: Publish Package

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2

      - name: Install
        run: bun ci

      - name: Generate GitHub Changelog
        run: bunx changelogithub
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test

      - name: Publish to NPM
        run: bunx pnpm -r publish --access public --no-git-checks
